absl-py==2.1.0
accelerate==0.33.0
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
argh==0.28.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==22.1.0
audeer==2.0.0
audiofile==1.4.0
audioread==3.0.1
audmath==1.4.0
audtorch==0.6.4
backcall==0.2.0
beautifulsoup4==4.11.1
biopython==1.83
biotite==0.40.0
bleach==5.0.1
blessed==1.20.0
bokeh==3.4.3
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi==2022.12.7
cffi==1.15.1
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
configparser==6.0.1
contextlib2==21.6.0
contourpy==1.2.1
cycler==0.12.1
debugpy==1.6.3
decorator==5.1.0
deepchem==2.8.0
deepspeed==0.5.10
defusedxml==0.7.1
dgl==1.1.0
dm-tree==0.1.8
docker-pycreds==0.4.0
e3nn==0.3.3
einops==0.8.0
entrypoints==0.4
executing==2.0.1
fair-esm @ git+https://github.com/facebookresearch/esm.git@900251ba3e2b7cdc06b44b10dfa3a0c1dd49752b
fasteners==0.19
fastjsonschema==2.16.1
filelock @ file:///croot/filelock_1700591183607/work
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.5.0
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.43
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645438755360/work
gpustat==1.1.1
GridDataFormats==1.0.2
hjson==3.1.0
huggingface-hub==0.23.2
hydra-core==1.3.2
idna==3.4
ihm==1.3
importlib_resources==6.4.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.0.1
jedi==0.18.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.13.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.2
kiwisolver==1.4.5
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
loralib==0.1.2
lxml==5.2.2
MarkupSafe==2.1.1
matplotlib==3.9.1
matplotlib-inline==0.1.6
mda-xdrlib==0.2.0
MDAnalysis==2.7.0
mistune==0.8.4
mizani==0.11.4
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
ml_collections==0.1.1
mmtf-python==1.1.3
modelcif==1.0
mol2vec==0.2.2
mpmath @ file:///croot/mpmath_1690848262763/work
mrcfile==1.5.0
msgpack==1.0.8
multidict==6.0.5
narwhals==1.8.2
nbclient==0.6.6
nbconvert==6.5.3
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==3.0
ninja==1.11.1.1
notebook==6.4.12
numba==0.60.0
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.535.133
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
omnia==0.0.0
openfold==1.0.0
OpenMM==8.0.0
opt-einsum==3.3.0
opt-einsum-fx==0.1.4
packaging==24.0
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.3
pathtools==0.1.2
patsy==0.5.6
pdbfixer @ file:///home/conda/feedstock_root/build_artifacts/pdbfixer_1684358331657/work
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
pkgtools==0.7.3
platformdirs==4.2.2
plotnine==0.13.6
pooch==1.8.2
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.30
protobuf==3.19.0
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
pyg==0.7.1
Pygments==2.18.0
pynvml==11.0.0
pyparsing==3.1.2
pyrosetta==2024.24+release.ca096da
pyrosetta-installer==0.1.1
pyrsistent==0.20.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq==23.2.1
qtconsole==5.3.1
QtPy==2.2.0
rdkit==2024.3.3
regex==2024.5.15
requests==2.28.1
resampy==0.4.3
safetensors==0.4.3
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
Send2Trash==1.8.0
sentry-sdk==1.44.0
shortuuid==1.0.13
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
soundfile==0.12.1
soupsieve==2.3.2.post1
soxr==0.3.7
stack-data==0.4.0
statsmodels==0.14.3
subprocess32==3.5.4
svgwrite==1.4.3
sympy @ file:///croot/sympy_1701397643339/work
tabulate==0.9.0
terminado==0.15.0
threadpoolctl==3.4.0
tinycss2==1.1.1
tokenizers==0.19.1
torch==2.1.2
torch-scatter @ file:///public/home/xiejun/torch_scatter-2.1.2%2Bpt21cu121-cp39-cp39-linux_x86_64.whl#sha256=f840d3d1234b7f8185ffdddaa37daa42c53b782fd884ed6aa77a3ce89e7e5cc1
torch_geometric==2.4.0
torchaudio==2.1.2+cu121
torchdata==0.7.1
torchinfo==1.8.0
torchvision==0.16.2+cu121
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
transformers==4.41.1
Tree==0.2.4
triton==2.1.0
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.1
urllib3==1.26.13
vl-convert-python==1.6.1
wandb==0.12.0
wcwidth==0.2.13
webencodings==0.5.1
widgetsnbextension==4.0.2
wrapt==1.16.0
xyzservices==2024.9.0
yarl==1.9.4
zipp==3.18.1
